<html dir="rtl">
<head>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body dir="rtl">
    <div class="container">
<form dir="rtl" ,ng-app="todoapp" , ng-controller="ListCtrl", ng-submit="getans()">

<table dir="rtl" class="table">
    <tr i>
        <th>
            
        </th>
        <th>
         שאלה
        </th>
        <th>
            תשובות
        </th>
        <th></th>
    </tr>
    <tr name="tr {{$index+1}}" class="success-{{todo.done}}" ng-repeat="todo in todos">
        <td>{{$index+1}}</td>
        <td>
            {{todo.title}}
        </td>




        <td dir="rtl">  
          <ul dir="rtl">
  <li>
    <input type="radio" name={{$index+1}} id="a-option-{{$index+1}}" value={{todo.test[0]}}> 
    <label for="a-option-{{$index+1}}">{{todo.test[0]}}</label>
    <div class="check"></div>
  </li>
  
  <li>
    <input type="radio" name={{$index+1}} id="b-option-{{$index+1}}" value={{todo.test[1]}}> 
    <label for="b-option-{{$index+1}}">{{todo.test[1]}}</label>
    <div class="check"><div class="inside"></div></div>
  </li>
  
   <li>
    <input type="radio" name={{$index+1}} id="c-option-{{$index+1}}" value={{todo.test[2]}}> 
    <label for="c-option-{{$index+1}}">{{todo.test[2]}}</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>

     <li>
    <input type="radio" name={{$index+1}} id="d-option-{{$index+1}}" value={{todo.test[3]}}> 
    <label for="d-option-{{$index+1}}">{{todo.test[3]}}</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>

</ul>
        </td>
    </tr>
</table>
{{x}} fdfsfdsdsf    
 <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
<script type="text/javascript">
    function get_action(form) {
        for (var j = 1 ;j < 11; j++) {
            var radios = document.getElementsByName(j.toString());
            for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        var x = "answer " + j.toString();
                        if (radios[i].value.localeCompare(document.getElementsByName(x)[0].value) == 0){
                            alert("true");
                        }
                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
    }
    }
}
</script>

